.tag-line {
    font-size: 5rem;
    margin: 10% 20% 4% 20% ;
    text-align: center;
    color: azure;
}

.story-img {
    width: 40%;
    margin: 5%;
}

.the-journey {
    width: 40%;
    margin: 5%;
}

.about-section {
    display: flex;
    background-color: azure;
    width: 100%;
}

.job-openings-section {
    padding: 5%;
    color: azure;
}

.job-openings-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}


.job-item {
    background-color: aliceblue;
    padding: 2em;
    color: black;
}



.roofify-faqs {
    background-color: aliceblue;
}


.roofify-faqs {
    padding: 5%;
}