.contact-section {
    background-color: aliceblue;
}

.contact-section-banner {
  background-image: url('https://c0.wallpaperflare.com/preview/518/694/455/roof-roofing-tiles-tile-housetop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.get-in-touch {
    color: aliceblue;
    z-index: 1;
    position:relative;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content:space-around;
}

.contact-black-shade {
    background-color: #000000;
    position: absolute;
    height: 60vh;
    width: 100%;
    opacity: 95%;
    z-index: 1;
}

.get-in-touch h2 {
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
    padding-top: 15vh;
    text-align: center;
}

.get-in-touch span {
    font-size: 1.25rem;
    text-align: center;
}


.contact-us-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.contact-us-cards {
    background-color: rgb(0, 35, 66);
    padding: 1rem;
    text-align: center;
}

.contact-icon {
    height: 4rem;
}

.satellite-offices, .contact-info {
    padding: 1% 5%;
}

.satellite-offices div {
    padding-bottom: 0.5rem;
}