.same-day-pickup {
  font-size: 4rem;
  color: rgb(236, 236, 236);
  text-align: center;
  background-color: #000000;
  position: relative;
  z-index: 1;

}

.order-section {
  background-image: url('https://c0.wallpaperflare.com/preview/518/694/455/roof-roofing-tiles-tile-housetop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.order-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  padding: 10% 15% 3% 15%;
  z-index: 1;
}


.order-card {
  color:black;
  padding: 10%;
  background-color: aliceblue;
  text-align: justify;
}

.order {
  background-color: rgb(62, 150, 221);
  color: aliceblue;
}



.products-section {
    color: aliceblue;
    background-color: #191928;
    
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);

}

.featured-product-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}


.product-container .product-card:nth-child(1) {
    color: #ffffff;
}

.product-container .product-card:nth-child(2) {
    background-color: #ffffff;
    color: #000000;
}


.product-container .product-card:nth-child(3) {
    background-color:rgb(0, 38, 70);
}

.product-container .product-card:nth-child(4) {
    background-color:rgb(62, 150, 221);
}

.product-container .product-card:nth-child(5) {
    background-color:rgb(0, 0, 0);
    
}
.product-container .product-card:nth-child(6) {
    background-color:rgb(33, 15, 23);
    
}

.product-img {
    width: 60%;
    height: auto;
}



.product-card {
    position: relative;
    display: flex;
    overflow: hidden; /* Hides overflowing content */
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}
  
  .product-img {
    transition: opacity 0.5s ease; /* Adding transition for image opacity */
  }
  
  .product-specs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85); /* Background color for specs */
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.5s ease; /* Adding transition for specs opacity */
    display: flex;
    flex-direction: column;
    color: #191928;
  }

  .diameter {
    width: 50%;
  }
  

  .product-card:hover .product-specs {
    opacity: 1; /* Make specs visible on hover */
  }
  

  .clad {
    background-color: #000000;
    padding-left: 10%;
    height: 70vh;
    width: 100%;
}
.clad-description-container {
  width: 50%;
}
.clad-img-container {
  height: 70vh;
  width: 50%;
}

.clad-img {
    height: 70vh;
    object-fit: cover;
    transition: height 0.3s ease; /* Adding a transition effect */
}

.clad-img:hover {
    height: 100vh;
}

.order-now{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    height: 3rem;
}

.order-now:hover {
    height: 4rem;
}


.ease {
  overflow: hidden; /* Ensure the image stays within its container */
}

.ease img {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
  transition: transform 0.3s ease-in; /* Apply the transition effect */
}

.ease:hover img {
  transform: scale(1.1); /* Scale the image slightly on hover */
}


.decking-title, .clad-title {
  font-size: 3em;
}

.decking-description, .clad-description {
  font-size: 1.5em;
}

.color-container {
  display: flex;

}

.roof-color {
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  margin: 0 0.2em;
  border: 0.25px solid rgb(234, 234, 234);
}


.blue-roof {
  background-color: rgb(2, 6, 122);
}

.red-roof {
  background-color: rgba(179, 2, 2, 0.956);
}

.green-roof {
  background-color: rgb(4, 72, 2);
}

.beige-roof {
  background-color: rgb(177, 248, 182);
}
.brown-roof {
  background-color: rgb(84, 10, 10);
}

.white-roof {
  background-color: rgb(248, 248, 248);
}

.terracotta-roof {
  background-color: rgb(192, 91, 2);
}

.gray-roof {
  background-color: rgb(41, 41, 41);
}

.thickness {
  margin: 0.2em;
}
