footer {
    display: flex;
    align-items: flex-end;
    color: black;
    padding: 10%;   
    justify-content: space-between;
    background-color: aliceblue;
}

/*Tablets(768px and up)*/
@media (min-width: 48em) {
    footer {
        padding: 5%;
    }
    
}

