.logo {
  height: 5rem;
}

header {
  display: flex;
  justify-content: center;
}

.header-section {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(227, 227, 227);
  width: 80%;
  margin: 1rem auto;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  z-index: 2;
}

.menu-icon {
  display: none;
}

.logo {
  font-weight: bolder;
  font-size: 2rem;
}

header ul {
  display: flex;
  gap: 3rem;
  margin: 0; /* Remove default margin from ul */
  padding: 0; /* Remove default padding from ul */
}

header li {
  list-style-type: none;
  border-bottom: 2px solid transparent;
}

.nav-links li:hover {
  transition: 0.2s;
  border-bottom: 2px solid rgb(160, 208, 246);
}


a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  border-bottom: 2px solid rgb(62, 150, 221);
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .header-section {
      width: 100%;
      position: relative;
  }

  ul {
      display: none;
      flex-direction: column;
      padding: 0;
      text-align: center;
      width: 100%;
      background-color: #ffffff;
      position: absolute;
      top: 70px; /* Adjust based on your header height */
      left: 0;
      z-index: 1;
  }


  ul.active {
      display: flex;
  }
  .menu-icon {
    display: block;
  }
}
